/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Style */
body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    background-image: url(img/bg.png);
    color: #333;
}

.top-bar {
    background-color: rgb(126, 147, 249);
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    position: fixed;
    border-bottom: salmon solid;
    z-index: 99999;
}

.top-bar label input{
    text-align: right;
}


.container {
    width: 960px;
    margin: 80px auto;
    background-color: white;
    position: relative;
}

.twitter {
    width: 200px;
    height: 200px;
    background-image: url(img/twt.png);
    display: inline-block;
    background-repeat: no-repeat;
    position: absolute;
    top: -14px;
    right: -90px;
}


.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    text-transform: capitalize;
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 3px;
}

.header a:hover {
    background-color: lightblue;
    color: white;
}

.hero {
    height: 380px;
    background-image: url(img/hero1.jpg);
    background-size: cover;
    background-position: 0 -100px;
    border-top: 5px solid salmon;
    border-bottom: 5px solid lightblue;
}

.main {
    padding: 20px;
    width: 600px;
    box-sizing: border-box;
    float: left;
    text-align: justify;
}

.main h2 {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.main .penulis a {
    text-transform: capitalize;
    text-decoration: none;
    color: salmon;
}

.main .penulis a:hover {
    color: white;
    background-color: lightblue;
} 

.main .penulis {
    font-size: 11px;
    margin-top: -5px;
}

.main p {
    margin-bottom: 20px;
    font-size: 14px;
}

.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
    text-align: justify;
}

.sidebar h3 {
    font-weight: bold;
    font-size: 20px;
    color: #666;
}

.sidebar img {
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 15px;
}

.sidebar p {
    font: 13px/20px arial;
}

.footer {
    background-color: #333;
    padding: 8px;
}

.footer .copy {
    font-size: 14px;
    color: #eaeaea;
    text-align: center;
}


/* clearfix */

 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
 
